<h4>Author Table</h4>
<table class="highlight">
  <thead>
  <tr>
    <th style="width: 25%">ID</th>
    <th style="width: 25%">First name</th>
    <th style="width: 25%">Last name</th>
    <th style="width: 25%">Books</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let author of authors">
    <td>{{author.id}}</td>
    <td>{{author.firstName}}</td>
    <td>{{author.lastName}}</td>
    <a routerLink="/booktable">
      <td>
        <ng-container *ngFor="let book of author.books">{{book.title}},
        </ng-container>
      </td>
  </a>
  </tr>
  </tbody>
</table>
