<h4>Book Table</h4>
<table class="highlight">
  <thead>
  <tr >
    <th style="width: 20%">ID</th>
    <th style="width: 20%">Title</th>
    <th style="width: 20%">Author</th>
    <th style="width: 20%">Genre</th>
    <th style="width: 20%">Year of publication</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td>{{book.id}}</td>
    <td>{{book.title}}</td>
    <div *ngIf="!book.author">
      <td>Unknown author</td>
    </div>
    <div *ngIf="book.author">
      <a routerLink="/authortable">
        <td>{{book.author.firstName }} {{book.author.lastName}}</td>
      </a>
    </div>
    <td>{{book.genre}}</td>
    <td>{{book.year}}</td>
    <td><button type="button" (click)="loadBookToEdit(book.id)">Edit</button> </td>
    <td><button type="button" (click)="deleteBook(book.id)">Delete</button></td>
  </tr>
  </tbody>
  <popup>
    wrong
  </popup>
  <button type="submit" (click)="addNewBook()">Add book</button>
</table>
